In [2]:
import pandas as pd
data = pd.read_feather('../processed_ftr/match_result_test.ftr')
data

                     match_no   win  duration
0      210510_eun1_2825473081  blue   1562890
1      210510_eun1_2825473100  blue   1302671
2      210510_eun1_2825473113   red   1859164
3      210510_eun1_2825473127   red   2162142
4      210510_eun1_2825473135   red   1818489
...                       ...   ...       ...
45570   210510_na1_3897027455  blue   1757880
45571   210510_na1_3897027469   red   1267061
45572   210510_na1_3897027481   red    911847
45573   210510_na1_3897027495   red   1423878
45574   210510_na1_3897027508   red   1620437

[45575 rows x 3 columns]